<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testing">
	<parameter name="url" value="https://www.dienmayxanh.com/" />
	<listeners>
	<listener class-name="com.dienmayxanh.listener.ListenerTest" />
	</listeners>
<!-- 	<test name="test view list products"> -->
<!-- 		<parameter name="SheetName" value="ViewListProducts" /> -->
<!-- 		<classes> -->
<!-- 			<class name="com.dienmayxanh.test.ViewListProducts" /> -->
<!-- 			<class name="com.dienmayxanh.test.ViewListProducts"> -->
<!-- 				<methods> -->
<!-- 					<include name="ViewList_SortPrice" /> -->
<!-- 					<include name="ViewList_Quantity" /> -->
<!-- 				</methods> -->
<!-- 			</class> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<test name="test comment"> -->
<!-- 		<parameter name="SheetName" value="Comment" /> -->
<!-- 		<classes> -->
<!-- 			<class name="com.dienmayxanh.test.Comment" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<parameter name="SheetName" value="ChooseReceivedPlace" /> -->
<!-- 	<test name="test choose received place"> -->
<!-- 		<classes> -->
<!-- 			<class name="com.dienmayxanh.test.ChooseReceivedPlace" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<parameter name="SheetName" value="ViewProductThroughList" /> -->
<!-- 	<test name="test product through list"> -->
<!-- 		<classes> -->
<!-- 			<class name="com.dienmayxanh.test.ViewProductThroughList" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

	<parameter name="SheetName" value="Contact" />
	<test name="test contact">
		<classes>
			<class name="com.dienmayxanh.test.Contact" />
		</classes>
	</test>
</suite>