<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite">
	<parameter name="url" value="https://www.dienmayxanh.com/" />
	<test name="runGroup">
		
		<!-- <groups>
			<run>
				<include name="viewByName"/>
			</run>
		</groups> -->
		
		<classes>
			<class name="ChooseReceivedPlace"/>
			<class name="ViewProductThroughList"/>
<!-- 			<class name="Comment"/>
			<class name="Contact"/>
			<class name="Link"/>
			<class name="LogIn"/>
			<class name="ViewListProducts"/> -->
		</classes>
		
	</test>
</suite>